# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
env/

# ===============================
# Flask
# ===============================
instance/
*.log

# ===============================
# Docker
# ===============================
*.tar
docker-compose.override.yml

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
pytest_cache/

# ===============================
# Build / Dist
# ===============================
build/
dist/
